@model Randevu

<!-- randevu ekle güncelle -->
<form method="post">

    <div class="border p-3 mt-5">
        <div class="row pb-3">
            <h2 class="text-primary">@(Model == null? "Randevu Al" : "Randevu Guncelle")</h2>
            <hr>
        </div>
        <div class="mb-3">
            <label asp-for="HastaId" class="p-0">Hasta ID: </label>
            <input asp-for="HastaId" class="form-control" />
            <span asp-validation-for="HastaId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="HastaAdi" class="p-0">Hasta Adi: </label>
            <input asp-for="HastaAdi" class="form-control" />
            <span asp-validation-for="HastaAdi" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="HastaSoyadi" class="p-0">Hasta Soyadi: </label>
            <input asp-for="HastaSoyadi" class="form-control" />
            <span asp-validation-for="HastaSoyadi" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DoktorId" class="p-0">Doktor</label>
            <select asp-for="DoktorId" asp-items="ViewBag.Doktor" class="form-select"></select>
        </div>
        

        @if(Model != null)
        {
            <button type="submit" class="btn btn-lg btn-primary" style="width:200px">Randevu Guncelle</button>
        }
        else
        {
            <button type="submit" class="btn btn-lg btn-primary" style="width:200px">Randevu Al</button>

        }


        <a asp-controller="Randevu" asp-action="Index" class="btn btn-lg btn-info" style="width:200px">Geri Don</a>
    </div>

</form>