@model Doktor

<form method="post">

    <div class="border p-3 mt-5">
        <div class="row pb-3">
            <h2 class="text-primary">Doktor Ekle</h2>
            </hr>
        </div>

        <div class="mb-3">
            <label asp-for="ad" class="p-0">Doktorun Adi: </label>
            <input asp-for="ad" class="form-control" />
            <span asp-validation-for="ad" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="soyad" class="p-0">Doktorun Soyadi: </label>
            <input asp-for="soyad" class="form-control" />
            <span asp-validation-for="soyad" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="uzmanlik" class="p-0">Doktorun Uzmanligi: </label>
            <input asp-for="uzmanlik" class="form-control" />
            <span asp-validation-for="uzmanlik" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="vardiya" class="p-0">Doktorun Vardiyasi: </label>
            <input asp-for="vardiya" class="form-control" />
            <span asp-validation-for="vardiya" class="text-danger"></span>

        </div>


        <button type="submit" class="btn btn-lg btn-primary" style="width:200px">Doktor Ekle</button>

        <a asp-controller="Doktor" asp-action="Index" class="btn btn-lg btn-info" style="width:200px">Geri Don</a>
    </div>

</form>