@model List<Doktor>


<h1>Doktorlar</h1>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Doktor Adi
        </th>
        
    </tr>
    </thead>

    <tbody>
        @foreach(var doktor in Model)
        {
            
        
        <tr>
            <td> @doktor.Id </td>
            <td> @doktor.ad </td>
            <td> @doktor.soyad </td>
            <td>@doktor.uzmanlik</td>
        </tr>
        }
    </tbody>
        
</table>

<div class="row pt-3 pb-2">
    <div>
        <a asp-controller="Doktor" asp-action="DoktorEkle" class="btn btn-lg btn-primary" type="button">
            Doktor Ekle
        </a>
    </div>
</div>