@model List<Bolum>
@using HastaneRandevu.Utility


@if (TempData["basarili"] != null){
    <div class="row pt-3 pb-2">
    <h2 color:blue" >@TempData["basarili"]</h2>
    </div>
}
else{
    <div class="row pt-3 pb-2">
    <h2>Bolumler</h2>
    </div>
}
<div class="row pt-3 pb-2" style="margin-left: 2px;">
<table class="table table-light">
    <thead>
    <tr>     
        <th scope="col">
            Bolum Adi
        </th>           
        @if (User.IsInRole(UserRoles.Role_Admin))
        {
            <th scope="col">

            </th>
            <th scope="col">

            </th>
        }
    </tr>
    </thead>
    <tbody>
        @foreach(var bolum in Model)
        {
        <tr>
            <td> @bolum.bolumAdi </td>
            @if(User.IsInRole(UserRoles.Role_Admin)){
                <td>
                    <a asp-controller="Bolum" asp-action="Guncelle" asp-route-id="@bolum.Id" type="button" class="btn btn-outline-success" style="width:125px">Guncelle</a>
                </td>
                <td>
                    <a asp-controller="Bolum" asp-action="Sil" asp-route-id="@bolum.Id" type="button" class="btn btn-outline-danger" style="width:125px">Sil</a>
                </td>
            }
        </tr>
        }
    </tbody>
        
</table>
</div>

<div class="row pt-3 pb-2">
    @if (User.IsInRole(UserRoles.Role_Admin))
    {
        <div>
            <a asp-controller="Bolum" asp-action="Ekle" class="btn btn-lg btn-primary" type="button">
                Bolum Ekle
            </a>
        </div>
    }
</div>